.body {
    font-family: 'Roboto', ;
}

.alert-container .col-12{
    padding-left:0;
    padding-right:0;
    background-color: purple;
}

.site-wide-alert{
    border-radius: 0;
    margin-bottom:0;
}

.alert-warning{
    background-color: #ffdb6f;
    border-color: #ffdb6f;
    color:#30270d;
}

.bottle-container{
    background: url("../images/winery.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-container {
     height: 100vh;
}

.bottle-gap {
    height:10vh;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* NavBar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand{
    font-weight: bold;
}


.quotes-container{}

.features-container{}

.favourites-container{}

/*--jumbotron--*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header{
    color: #ffffff;
    font: bold;
    margin-bottom: 30px;
    margin-top: 100px;
}

.jumbotron .lead {
    font-weight: 400;
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*page headers*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/*content-containers*/

.content-container{
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-wrapper{
    
}

.container-wrapper--purple{
    background-color: #6F1E51;
    color: #fff;
}

.favourites-container h2{
    color: #fff;
}

/* block dividers*/

.block-divider {
    height:5px;
    width:100px;
    border:0;
    background-color: #444;
}

.block-divider--purple {
    background-color:#6F1E51;
}

.block-divider--short{
    width: 45px;
    margin-bottom: 50px;
}

.block-divider--white{
    background-color: #fff;
}

/* Buttons*/

.btn--cta{
    font-weight:bold;
    border-radius: 23px;
    width:160px;
    color:white;
}

.btn--purple{
    background-color: #6F1E51;
    border-color: #6F1E51;
}

.btn--purple:hover,
.btn--purple:active,
.btn--purple:focus,
.btn--purple:active:focus {
    background-color: #9b1e59;
    border-color: #9b1e59;
    color: white;
    transition-duration: 0.2s;
}

/*icons*/

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i{
    margin-bottom:20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn{
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color:#6F1E51;
}

.feature .btn:hover,
.feature .btn:active,
.feature .btn:focus,
.feature .btn:active:focus {
    background-color: #6F1E51;
    border-color: white;
    color: white;
    transition-duration: 0.2s;
}